!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'taggit'

  %body

    = yield

    = javascript_include_tag "application"
